/.htpasswd
/.htaccess
/*.sh
/*.xml
/*.htaccess
/.htaccess*
/web.config
/*web.config
/*.log
/*.sql
# исключаем из репозитория текстовые файлы, но оставляем robots.txt
/*.txt
/sitemap*.xml
/*.dt
/*.tar.gz
/*.gz
/*.tar
/*.bak
/*.old
/*.csv
/*~
*/_*
/_*
/.DS_Store
/composer.*
/.git
/.idea
/.wm.config
.vscode
.vscode-server
.bash_history
.wget-hsts
.gitconfig
.cache
# исключаем ВСЮ папку bitrix, но ниже настроим включение нужных папок
# или используйте папку /local, чтобы полностью исключить папку bitrix
/bitrix
/bitrix.back
# исключаем служебные и ненужные папки проекта
/dev
/pma
/upload
/test
/yandex_*
/google*

/local/php_interface/consts.php
/*.jpg

/*.zip
/*.tar
/*.tar.gz

_DEBUG_
_DEBUG.*
_DEBUG_.txt
/test.php
/.htsecure
/testovaya-stranitsa
/test-section

node_modules
/.xml

/local/templates/mac/css/index.min.css*
/local/templates/mac/js/index.min.js*
/local/templates/mac/version
/local/php_interface/errors_log.txt
/local/templates/mac/front/dist
/local/templates/mac/front/letters
/local/templates/mac/front/inline

/local/vendor
/local/templates/mac/front/version

/local/php_interface/admin/pids-update-products/*
!/local/php_interface/admin/pids-update-products/.gitkeep

